# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for executing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

## Installing and Using Pandas

Installation of Pandas on your system requires NumPy to be installed, and if building the library from source, requires the appropriate tools to compile the C and Cython sources on which Pandas is built.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).

Once Pandas is installed, you can import it and check the version:

In [2]:
import pandas as pd
pd.__version__

'1.5.3'

# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provide a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [3]:
import pandas as pd
import numpy as np

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [4]:
a = pd.Series([152,251,364,1028])
a

0     152
1     251
2     364
3    1028
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [6]:
a.values

array([ 152,  251,  364, 1028], dtype=int64)

In [7]:
a.index

RangeIndex(start=0, stop=4, step=1)

We can assign meaningful labels to the index, if they are available:

In [9]:
usn = pd.Series([234,263,250,251],
                index=['sumeet','vidhya','thejas','tippa'])
usn

sumeet    234
vidhya    263
thejas    250
tippa     251
dtype: int64

These labels can be used to refer to the values in the `Series`.

In [10]:
usn['sumeet']

234

Notice that the indexing operation preserve the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [11]:
usn[0]

234

We can give both the array of values and the index meaningful labels themselves:

In [43]:
usn.name='reg no'
usn.index.name='student name'
usn

student name
sumeet    234
vidhya    263
thejas    250
tippa     251
Name: reg no, dtype: int64

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [13]:
np.log(usn)

student name
sumeet    5.455321
vidhya    5.572154
thejas    5.521461
tippa     5.525453
Name: student table, dtype: float64

We can also filter according to the values in the `Series`:

In [15]:
usn[usn>250]

student name
vidhya    263
tippa     251
Name: student table, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [17]:
usn_dict={'sumeet':230,'vidhya':263,'thejas':250,'tippa':251}
print(usn_dict)
pd.Series(usn_dict)

{'sumeet': 230, 'vidhya': 263, 'thejas': 250, 'tippa': 251}

sumeet    230
vidhya    263
thejas    250
tippa     251
dtype: int64

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities.

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of  Python dictionary.
A dictionary is a structure that maps arbitrary keys to set of arbitrary values, and ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from Python dictionary:

## DataFrame: bi-dimensional Series with two (or more) indices

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). 

The DataFrame has both row and column index; it can be thought of as a dict of Series (all sharing the same index).

DataFrame's can be created in different ways. One of them is from dict's.

In [23]:
data = {"name":['hui','heloo','whatsup','dude','bro'],
       "regno":[234,250,251,231,289],
       "marks":[89,90,12,37,98]}
print(data)
data = pd.DataFrame(data)
data

{'name': ['hui', 'heloo', 'whatsup', 'dude', 'bro'], 'regno': [234, 250, 251, 231, 289], 'marks': [89, 90, 12, 37, 98]}

      name  regno  marks
0      hui    234     89
1    heloo    250     90
2  whatsup    251     12
3     dude    231     37
4      bro    289     98

To change the order of the columns:

In [24]:
df = pd.DataFrame(data, columns=["regno","marks","name"])
df

   regno  marks     name
0    234     89      hui
1    250     90    heloo
2    251     12  whatsup
3    231     37     dude
4    289     98      bro

An `index` can be passed (as with Series), and passing column names not existing, will result in missing data.

Assigning values to new columns is easy

In [26]:
df['nothing']= df.regno / df.marks
df

   regno  marks     name    nothing
0    234     89      hui   2.629213
1    250     90    heloo   2.777778
2    251     12  whatsup  20.916667
3    231     37     dude   6.243243
4    289     98      bro   2.948980

In [34]:
df['series']=pd.Series(range(5),index=[0,1,2,3,4,],dtype=float)
df

   regno  marks     name    nothing  series
0    234     89      hui   2.629213     0.0
1    250     90    heloo   2.777778     1.0
2    251     12  whatsup  20.916667     2.0
3    231     37     dude   6.243243     3.0
4    289     98      bro   2.948980     4.0

Passing a dicts where the values are dicts is also possible

In [35]:
df.to_dict()

{'regno': {0: 234, 1: 250, 2: 251, 3: 231, 4: 289},
 'marks': {0: 89, 1: 90, 2: 12, 3: 37, 4: 98},
 'name': {0: 'hui', 1: 'heloo', 2: 'whatsup', 3: 'dude', 4: 'bro'},
 'nothing': {0: 2.6292134831460676,
  1: 2.7777777777777777,
  2: 20.916666666666668,
  3: 6.243243243243243,
  4: 2.9489795918367347},
 'series': {0: 0.0, 1: 1.0, 2: 2.0, 3: 3.0, 4: 4.0}}

In [116]:
pd.DataFrame(df.to_dict())

   a  b  c  d
0  5  4  7  8
1  8  2  6  2
2  8  8  6  6
3  5  6  0  0
4  6  9  1  8

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [42]:
data = [{'a':i , 'b':10*i}for i in range(7)]
print(data)
pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 10}, {'a': 2, 'b': 20}, {'a': 3, 'b': 30}, {'a': 4, 'b': 40}, {'a': 5, 'b': 50}, {'a': 6, 'b': 60}]

   a   b
0  0   0
1  1  10
2  2  20
3  3  30
4  4  40
5  5  50
6  6  60

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [114]:
gf = pd.DataFrame([{'aa':1,'bb':2},{'bb':3,'cc':4}])
gf=df.to_dict()
gf

{'a': {0: 5, 1: 8, 2: 8, 3: 5, 4: 6},
 'b': {0: 4, 1: 2, 2: 8, 3: 6, 4: 9},
 'c': {0: 7, 1: 6, 2: 6, 3: 0, 4: 1},
 'd': {0: 8, 1: 2, 2: 6, 3: 0, 4: 8}}

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [63]:
pd.DataFrame(np.random.randint(7,27),
              columns=['hi','hello'],
              index=['s','v','r'])

   hi  hello
s  26     26
v  26     26
r  26     26

## The Pandas Index Object

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you take reference and modify data.
This ``Index`` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as ``Index`` objects may contain repeated values).
Those views have some interesting consequences in the operations available on ``Index`` objects.
As a simple example, let's construct an ``Index`` from a list of integers:

In [67]:
iid = pd.Index([45,45,44,545,85,454,546])
iid

Int64Index([45, 45, 44, 545, 85, 454, 546], dtype='int64')

### Index as immutable array

The ``Index`` in many ways operates like an array.
For example, we can use standard Python indexing notation to retrieve values or slices:

In [70]:
iid[0]

45

In [71]:
iid[1:7:2]

Int64Index([45, 545, 454], dtype='int64')

In [74]:
iid[::]

Int64Index([45, 45, 44, 545, 85, 454, 546], dtype='int64')

``Index`` objects also have many of the attributes familiar from NumPy arrays:

In [75]:
print(iid.size,iid.ndim,iid.shape,iid.dtype)

7 1 (7,) int64

One difference between ``Index`` objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via normal means:

In [76]:
iid[0]=5

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays, without the potential for side effects from inadvertent index modification.

# Operating on Data in Pandas

One of the essential pieces of NumPy is the ability to perform quick element-wise operations, both with basic arithmetic (addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.).
Pandas inherits much of this functionality from NumPy, and the ufuncs are key to this.

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc.
This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof with Pandas.
We will additionally see the well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [83]:
hi = np.random.RandomState(10)
print(hi)
hel = pd.Series(hi.randint(0,10,4))
hel

RandomState(MT19937)

0    9
1    4
2    0
3    1
dtype: int32

In [89]:
df = pd.DataFrame(hi.randint(0,10,(5,4)),
                             columns=['a','b','c','d'])
df

   a  b  c  d
0  5  4  7  8
1  8  2  6  2
2  8  8  6  6
3  5  6  0  0
4  6  9  1  8

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved:*

In [90]:
np.exp(hel)

0    8103.083928
1      54.598150
2       1.000000
3       2.718282
dtype: float64

Or, for a slightly more complex calculation:

In [92]:
np.sin(df*np.pi/4)

              a             b         c             d
0 -7.071068e-01  1.224647e-16 -0.707107 -2.449294e-16
1 -2.449294e-16  1.000000e+00 -1.000000  1.000000e+00
2 -2.449294e-16 -2.449294e-16 -1.000000 -1.000000e+00
3 -7.071068e-01 -1.000000e+00  0.000000  0.000000e+00
4 -1.000000e+00  7.071068e-01  0.707107 -2.449294e-16

## Universal Functions: Index Alignment

For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will align indices in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three india states by *area* and the top three india states by *population*:

In [98]:
area = pd.Series({'kar':16161,'tamilnadu':551815,'kerala':54558451}, name='area')
population = pd.Series({'kar':5151551,'thirpura':551545,'kerala':754548}, name='population')
print(area)
population

kar             16161
tamilnadu      551815
kerala       54558451
Name: area, dtype: int64

kar         5151551
thirpura     551545
kerala       754548
Name: population, dtype: int64

Let's see what happens when we divide these to compute the population density:

In [99]:
population/area

kar          318.764371
kerala         0.013830
tamilnadu           NaN
thirpura            NaN
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [103]:
area.index | population.index

C:\Users\sumeet kotabagi\AppData\Local\Temp\ipykernel_1828\3572280633.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  area.index | population.index

Index(['kar', 'kerala', 'tamilnadu', 'thirpura'], dtype='object')

In [104]:
A = pd.Series([1,7,8], index=[0,1,2])
B = pd.Series([4,5,6], index=[1,2,3])
print(A)
print(B)
A+B

0    1
1    7
2    8
dtype: int64
1    4
2    5
3    6
dtype: int64

0     NaN
1    11.0
2    13.0
3     NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [106]:
A.add(B , fill_value=4)

0     5.0
1    11.0
2    13.0
3    10.0
dtype: float64

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Ufuncs: Operations Between DataFrame and Series

When performing operations between a ``DataFrame`` and a ``Series``, the index and column alignment is similarly maintained.
Operations between a ``DataFrame`` and a ``Series`` are similar to operations between two-dimensional and one-dimensional NumPy array.
Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

# Data wrangling
Getting the data in the shape that we want is the single most time consuming task in the life of the Data Scientist. Sometimes it can be the most frustrating.

## Merge operations
By merging we mean combining different data sets by linking rows with one or more keys. The basic syntax is very simple.

In [130]:
df = pd.DataFrame({'province':['fl','fl','nh','nh','zh'],
                 'year':[2013,2014,2015,2016,2017],
                 'literacy':[0.2,0.1,0.4,0.11,0.21]})
df

  province  year  literacy
0       fl  2013      0.20
1       fl  2014      0.10
2       nh  2015      0.40
3       nh  2016      0.11
4       zh  2017      0.21

In [131]:
df1=pd.DataFrame({"province":["fl","nh","zh"],"pop":["10000","20000","30000"]})
df1

  province    pop
0       fl  10000
1       nh  20000
2       zh  30000

Let's say we want a dataset with year, literacy, province and population. We can create it from `df` and `df2`.

In [132]:
df.merge(df1) # merge is smart! If there are overlapping names, it uses those for the merge

  province  year  literacy    pop
0       fl  2013      0.20  10000
1       fl  2014      0.10  10000
2       nh  2015      0.40  20000
3       nh  2016      0.11  20000
4       zh  2017      0.21  30000

If the column names are different, you need to specify them explicitely

In [135]:
df3=pd.DataFrame({'province':['fl','nh'],'pop':['10000','20000']})
df.merge(df3 , right_on='province', left_on='province')

  province  year  literacy    pop
0       fl  2013      0.20  10000
1       fl  2014      0.10  10000
2       nh  2015      0.40  20000
3       nh  2016      0.11  20000

What happened? Zuid Holland is weg!

By default `merge` does inner joins. If you want a different type of join, you can specify it.

In [140]:
df4= pd.DataFrame({"province":['fl','nh','uu'],'pop':['100000','200000','500000']})
print(df)
df.merge(df4, how='outer')

  province  year  literacy
0       fl  2013      0.20
1       fl  2014      0.10
2       nh  2015      0.40
3       nh  2016      0.11
4       zh  2017      0.21

  province    year  literacy     pop
0       fl  2013.0      0.20  100000
1       fl  2014.0      0.10  100000
2       nh  2015.0      0.40  200000
3       nh  2016.0      0.11  200000
4       zh  2017.0      0.21     NaN
5       uu     NaN       NaN  500000

Check this out:

In [141]:
df5= pd.DataFrame({"province":['fl','nh','fl'],'pop':['100000','200000','500000']})
print(df)
df.merge(df5, how='outer')

  province  year  literacy
0       fl  2013      0.20
1       fl  2014      0.10
2       nh  2015      0.40
3       nh  2016      0.11
4       zh  2017      0.21

  province  year  literacy     pop
0       fl  2013      0.20  100000
1       fl  2013      0.20  500000
2       fl  2014      0.10  100000
3       fl  2014      0.10  500000
4       nh  2015      0.40  200000
5       nh  2016      0.11  200000
6       zh  2017      0.21     NaN

This was a many-to-many merge. Even though if you think about it, the behavior is what you expect, you might still not think about it and be surprised!

### Combining data with overlap
Sometimes some data is missing, and it can be "patched" with another dataset. Let's take a look.

In [145]:
a = pd.Series([np.nan,2.5,3.5,4.5,np.nan],
             index=['a','b','c','d','e'])
b = pd.Series(np.arange(len(a) , dtype=np.float32),
             index=['a','b','c','d','e'])

In [146]:
a

a    NaN
b    2.5
c    3.5
d    4.5
e    NaN
dtype: float64

In [147]:
b

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float32

Let's say we want to update `a` with the values from `b`. The num-pythonic way to do that is

In [151]:
pd.Series(np.where(pd.isnull(a),b,a), index=a.index)

a    0.0
b    2.5
c    3.5
d    4.5
e    4.0
dtype: float64

That's a bit verbose for something so simple. What about this:

In [152]:
a.combine_first(b)

a    0.0
b    2.5
c    3.5
d    4.5
e    4.0
dtype: float64